<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/property/new">Add new property</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/property/zoopla">Zoopla</a>
        </li>
    </ul>
    <div class="my-2 my-lg-2">
        <span class="menu-right">Welcome {{ user.name }}</span> <span class="menu-right">|</span><a class="menu-right sign-out" href="#">Sign out</a>
    </div>
</div>