html,
body {
    height: 100%;
}

body.center-page {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

body.search-page {
    padding-top: 60px;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.home-center {
    margin: auto;
    width: 50%;
    /*padding-top: 200px;*/
}

.form-checkbox-label {
    padding-right: 20px;
}

.home-center .search {
    margin-top: -5px;
}

.menu-right {
    color: white;
    padding-left: 25px;
}

a.menu-right {
    text-decoration: none;
}

a.menu-right:hover {
    color: #ffe8a1;
}

.condition-checkbox {
    display: block;
}

.search-nav {
    width: 250px;
}

.filter-nav {
    padding-bottom: 20px;
}

.form-property-for label {
    padding-right: 40px;
}

label.error {
    color: darkred;
}

@media only screen and (max-width: 400px) {
    * {
        font-size: 14px;
    }
    .search {
        width: 100%;
    }
}