{% extends "layout/app.twig" %}
{% block body_class %} class="search-page" {% endblock %}
{% block adminUser %}
{%  include  "partials/admin.menu.twig" %}
{% endblock %}

{% block content %}
<div>
    <table class="table property-listing">
        <thead>
        <tr>
            <th>#</th>
            <th>Displayable Address</th>
            <th>Town</th>
            <th>Number of bedrooms</th>
            <th>property type</th>
            <th>Property for</th>
            <th>Price</th>
            <th>Source</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
    </table>
</div>
{% endblock %}

{% block appJs %}
    <script src="/js/admin.app.js"></script>
{% endblock %}
