{% extends "layout/app.twig" %}
{% block body_class %} class="search-page" {% endblock %}

{% block adminUser %}
    {%  include  "partials/admin.menu.twig" %}
{% endblock %}

{% block content %}
    <h4>Add new property</h4>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error | raw   }}
    </div>
    {% endif %}
    <form id="property-form" novalidate method="post" enctype='multipart/form-data'>
        <fieldset>
        <div class="form-property-for form-group">
            <label>Property</label>
            <label class="form-check-label" for="property_for_sale">
                <input {% if old.property_for and old.property_for=='sale' %} checked {% endif %} type="radio" class="form-check-input" name="property_for" value="sale" id="property_for_sale" required>
                 for sale
            </label>

            <label class="form-check-label" for="property_for_rent">
                <input {% if old.property_for and old.property_for=='rent' %} checked {% endif %} type="radio" class="form-check-input" name="property_for" value="rent" id="property_for_rent" required>
                 for rent
            </label>
        </div>
        <div class="form-group">
            <label for="property_type">Property Type</label>
            <select name="property_type" class="form-control" required>
                <option value=""> Please select property type</option>
                {% for key, propertyType in propertyTypes %}
                    {% if old.property_type and old.property_type == key %}
                        <option value="{{ key }}" selected> {{ propertyType }} </option>
                    {% else %}
                        <option value="{{ key }}"> {{ propertyType }} </option>
                    {% endif %}

                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="number_of_bedrooms">Number of bedrooms</label>
            <select name="number_of_bedrooms" class="form-control" required>
                <option value=""> Please select number of bedrooms</option>
                {% for i in 0..20 %}
                    {% if old.number_of_bedrooms and old.number_of_bedrooms == i %}
                        <option value="{{ i }}" selected> {{ i }} room</option>
                    {% else %}
                        <option value="{{ i }}"> {{ i }} room</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="number_of_bathrooms">Number of Bathrooms</label>
            <select name="number_of_bathrooms" class="form-control" required>
                <option value=""> Please select number of bathroom</option>
                {% for i in 0..10 %}
                    {% if old.number_of_bathrooms and old.number_of_bathrooms == i %}
                        <option value="{{ i }}" selected> {{ i }} room</option>
                    {% else %}
                        <option value="{{ i }}"> {{ i }} room</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" rows="10" required>{% if old.description %}{{ old.description|raw }} {% endif %}</textarea>
        </div>

        <div class="form-group">
            <label for="image">Please upload property image.</label>
            <input type="file" class="form-control-file" id="image" name="image" required>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" name="price" value="{% if old.price %}{{ old.price }} {% endif %}" required>
        </div>

        <div class="form-group">
            <label for="displayable_address">Displayable Address</label>
            <input type="text" class="form-control" id="displayable_address" name="displayable_address" value="{% if old.displayable_address %}{{ old.displayable_address }} {% endif %}" required>
        </div>

        <div class="form-group">
            <label for="county">Town</label>
            <input type="text" class="form-control" id="town" name="town" value="{% if old.town %}{{ old.town }} {% endif %}" required>
        </div>

        <div class="form-group">
            <label for="county">County</label>
            <input type="text" class="form-control" id="county" name="county" value="{% if old.county %}{{ old.county }} {% endif %}" required>
        </div>

        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country" name="country" value="{% if old.country %}{{ old.country }} {% endif %}" required>
        </div>

        <div class="form-group">
            <label for="postcode">Postcode</label>
            <input type="text" class="form-control" id="postcode" name="postcode" value="{% if old.postcode %}{{ old.postcode }} {% endif %}" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
{% endblock %}

{% block appJs %}
    <script src="/js/admin.app.js"></script>
{% endblock %}
