{% extends "layout/app.twig" %}
{% block body_class %} class="search-page" {% endblock %}

{% block adminUser %}
    {%  include  "partials/admin.menu.twig" %}
{% endblock %}

{% block content %}
    <h4>Import properties from zoopla</h4>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error | raw   }}
    </div>
    {% endif %}

    {% if suucess %}
        <div class="alert alert-info" role="alert">
            {{ success | raw   }}
        </div>
    {% endif %}

    <form id="property-form" novalidate method="post" enctype='multipart/form-data'>
        <fieldset>

        <div class="form-group">
            <label for="area">Area/City: </label>
            <input type="text" class="form-control" id="area" name="area" value="" required>
            <p class="alert alert-info">Please enter area/ cty name to import property details from zoopla. for multiple area import in one request please separate area by "|". i,e, Dundee|Edinburgh</p>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
{% endblock %}

{% block appJs %}
    <script src="/js/admin.app.js"></script>
{% endblock %}
