{% extends "layout/app.twig" %}
{% block body_class %} class="search-page" {% endblock %}
{% block menu %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">XYZ Propertie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="my-2 my-lg-2">
            <a class="menu-right" href="/login">Admin</a>
        </div>
    </nav>
    <div class="filter-nav container">

        <div class="row">
            <div class="col">
                <label class="form-checkbox-label">
                    <input type="radio" value="sale" name="property_for" checked> For Sale
                </label>
                <label class="form-checkbox-label">
                    <input type="radio" value="rent" name="property_for"  > For rent
                </label>

                <label class="form-checkbox-label">
                    <input type="text" value="" placeholder="Min price" name="min_price"> Min Price
                </label>

                <label class="form-checkbox-label">
                    <input type="text" value="" placeholder="Max price" name="max_price"> Max Price
                </label>

                <label class="form-checkbox-label">
                    <select name="property_type">
                        <option value=""> Please select property type</option>
                        <option value="" selected> Any </option>
                        {% for key, propertyType in propertyTypes %}
                            <option value="{{ key }}"> {{ propertyType }} </option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="input-group col pb-2 pt-2">
                <input name="search" placeholder="Edinburgh" class="form-control" type="text" value="Edinburgh"/>
                <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border search" type="button">
                    Search
                </button>
              </span>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="map-canvas" style="min-width: 600px; min-height: 500px;"></div>
{% endblock %}

{% block appJs %}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false&key={{ apiKey }}"></script>
    <script src="/js/app.js"></script>
    <script>


        var map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 10,
            center: new google.maps.LatLng(55.3781, 3.4360),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;
        var markers = new Array();

        function autoCenter() {
            //  Create a new viewpoint bound
            var bounds = new google.maps.LatLngBounds();
            //  Go through each...
            $.each(markers, function (index, marker) {
                bounds.extend(marker.position);
            });
            //  Fit these bounds to the map
            map.fitBounds(bounds);
        }

        autoCenter();
        var getPopBallonContent = function (location) {
            var image ="";
            var url ="#";
            var description = "";

            if(location.source === 2) {
                $.each(location.meta, function (index, value ) {
                    if(value.meta_key === 'details_url') {
                        url = value.meta_value;
                    } else if(value.meta_key === 'thumbnail_url') {
                        image = "<img src='"+value.meta_value+"' style='width: 150px; height: 150px'>";
                    }
                });
            } else {
                $.each(location.meta, function (index, value ) {
                    if(value.meta_key === 'image') {
                        image = "/upload/images/"+value.meta_value;
                        image = "<img src='"+image+"' style='width: 150px; height: 150px'>";
                    }
                });

                url = "/property/"+location.id+"/view";
            }

            if(location.description.length > 200) {
                description = location.description.substr(0, 200);
            } else {
                description = location.description;
            }
            var contentString = '<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading">'+location.displayable_address+'</h1>'+
                    '<div id="bodyContent">'+ image +
                    '<p>Number of Bedrooms: '+location.number_of_bedrooms+', Number of Bathrooms: '+location.number_of_bathrooms+'</p>'+
                    '<p>Price: '+location.price+'</p>'+
                    '<p>'+description+'</p>'+
                    '<p><a href="'+url+'">View Page</a> </p>'+
                    '</div>'+
                    '</div>';

            return contentString;
        }
        var drawMarkers = function (locationCollection) {
            for (i = 0; i < locationCollection.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locationCollection[i].latitude, locationCollection[i].longitude),
                    map: map
                });

                markers.push(marker);

                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infowindow.setContent(getPopBallonContent(locationCollection[i]));
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
            autoCenter();
        }
        $(document).ready(function () {

            var loadGeoMap = function () {
                var data= {
                    q: $("input[name='search']").val(),
                    min_price: $("input[name='min_price']").val(),
                    max_price: $("input[name='max_price']").val(),
                    property_for: $("input[name='property_for']:checked").val(),
                    property_type: $("select[name='property_type']").val()
                };

                if(data.q === undefined || data.q === "") {
                    alert("Please enter postcode / area in search box");
                    return false;
                }

                $.ajax({
                    url: '/property/search',
                    data: data,
                    method: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        for (var i = 0; i < markers.length; i++) {
                            markers[i].setMap(null);
                        }
                        drawMarkers(response);
                    }
                });
            };

            loadGeoMap();

            $('.search').click(function (e) {
                e.preventDefault();
                loadGeoMap();
            }); //end click  event
        });
    </script>
{% endblock %}
