{% extends "layout/app.twig" %}

{% block content %}
<div class="home-center">

    <form class="form-signin" action="/login" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        {% if error %}
            <p class="alert-danger">{{ error }}</p>
        {% endif %}
        <label for="userType" class="sr-only">User</label>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
{% endblock %}