{% extends "layout/app.twig" %}
{% block body_class %} class="search-page" {% endblock %}
{% block menu %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">XYZ Propertie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item search-nav">
                    &nbsp;
                </li>
            </ul>
        </div>

        <div class="my-2 my-lg-2">
            </span><a class="menu-right sign-out" href="/login">Admin</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <p>Address: {{ property.displayable_address  }} </p>
    {% if property.thumbImage %}
    <p><img src="{{ property.thumbImage }}" style="max-width: 400px; max-height: 400px;"></p>
    {% endif %}

    <p>Number of Bedrooms: {{ property.number_of_bedrooms  }}</p>
    <p>Number of Bathrooms:{{   property.number_of_bathrooms }} </p>

    <p>price: {{ property.price  }}</p>
    <p>Property: For {{  property.property_for  }}</p>
    <p>{{ property.description }}</p>
    <p>Town: {{ property.town }}</p>
    <p>County: {{ property.county }}</p>
    <p>Country: {{ property.country }}</p>
{% endblock %}

{% block appJs %}
    <script src="/js/app.js"></script>
{% endblock %}
