<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block seoDescription  %}{% endblock %}">
    <meta name="author" content="Fazle Elahee">
    <title>{% block title %}{% endblock %} | XYZ Properties</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/app.css" rel="stylesheet">
</head>

<body {% block body_class %} class="center-page" {% endblock %}>
{% block menu %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">XYZ Properties</a>
    {% block adminUser %}
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    &nbsp;
                </li>
            </ul>
            <div class="my-2 my-lg-2">
                </span><a class="menu-right sign-out" href="/login">Admin</a>
            </div>
        </div>
    {% endblock %}
</nav>
{% endblock %}

<main role="main" class="container">
{% block content %}{% endblock %}
</main><!-- /.container -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/additional-methods.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{% block appJs %}
    <script src="/js/app.js"></script>
{% endblock %}

</body>
</html>
